@{
    ViewData["Title"] = "Home Page";
}
<section class="home">

    <div class="content">
        <h3>Chào mừng đến với dịch vụ của chúng tôi</h3>
        <h3>Với những Shipper uy tín và chu đáo</h3>
        <h3>Đem đến sự hài lòng cho quý khách hàng</h3>
        <h3>Uy tín tạo nên thương hiệu</h3>
    </div>

    <div class="image">
        <img src="/images/shipper.png" alt="">
    </div>
</section>