
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<FoodViewModel>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- /ASIDE -->
            <!-- STORE -->
            <div class="col-md-6">
                <form asp-controller="Home" asp-action="InsertMonAn">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Thông tin giao hàng</h3>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input class="input" type="text" name="donVanChuyen.DiaChiGiaoHang" required="required"/>
                        </div>
                        <div class="form-group">
                            <label>Mã món ăn</label>
                            <input class="input" type="text" name="donVanChuyen.MaMonAn" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Số lượng</label>
                            <input class="input" type="text" name="donVanChuyen.SoLuong" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Phương thức thanh toán</label>
                            <input class="input" type="text" name="donVanChuyen.PhuongThucThanhToan" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Chứng minh Hoặc Căn cước</label>
                            <input class="input" type="text" name="donVanChuyen.cccd" required="required" />
                        </div>
                    </div>
                    <button class="btn my-1" type="submit" style="margin-left:15px">Đặt hàng</button>
                </form>
            </div>
            <div id="store" class="col-md-6">
                <!-- store products -->
                <div class="row">
                    @foreach (var food in Model)
                    {
                        <!-- product -->
                            <div class="col-md-6 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src=@food.ImgUrl alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@food.MaMonAn</p>
                                        <h3 class="product-name"><a href="@Url.Action("GetUuDai",new { id=food.MaMonAn })">@food.TenMonAn</a></h3>
                                        <h4 class="product-price price">@food.DonGia </h4>
                                    </div>
                                </div>
                            </div>
                        <!-- /product -->
                    }
                </div>
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

